<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>55488545235-54if20sgeft37e33gv6cr1g79l84uqql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55488545235-54if20sgeft37e33gv6cr1g79l84uqql</string>
	<key>API_KEY</key>
	<string>AIzaSyBqcTBkqDD8F68hXAgUAnYr0mNB3p8R3_w</string>
	<key>GCM_SENDER_ID</key>
	<string>55488545235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Jembo.CoolChat</string>
	<key>PROJECT_ID</key>
	<string>coolchat-28b15</string>
	<key>STORAGE_BUCKET</key>
	<string>coolchat-28b15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55488545235:ios:17cab657cf3df038c82f26</string>
</dict>
</plist>